[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "*"
python-dotenv = "*"
pytest = "*"
pydantic = "*"
pyyaml = "*"
scikit-learn = "*"
tree-sitter = "*"

[dev-packages]

[requires]
python_version = "3.10"
